python-dotenv>=1.0.1
requests-oauthlib>=2.0.0
oauthlib>=3.2.2
pypdf>=4.2.0
langchain>=0.2.1
langchain-google-genai>=1.0.5
langchain-openai>=0.1.7
generative-ai-hub-sdk>=1.3.3
langchain_community>=0.2.1
hana-ml>=2.20.24042601
hdbcli>=2.20.22
